 .image-border img
  {
   border:10px solid #5651B4;
    border-radius: 10px; 
  }
  .body2 {
   background-color:#F29E1E;
  
  }
  .center-image{
   text-align:center;
  }
  .center-image img{
   display:inline-block;
  }
  .center-text
  {
   text-align:center;
  }
.body1 {
   background-color:green;
  }
