 .image-border img
  {
   border:10px solid #5651B4;
    border-radius: 10px; 
  }
  body {
   background-color:green
  }
  .center-image{
   text-align:center;
  }
  .center-image img{
   display:inline-block;
  }
  .center-text
  {
   text-align:center;
  }
